<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flight Departure List</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <style>
        .row-with-border {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <label class="navbar-brand" for="flight-tracking">Flight Tracking</label>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="api/v1/users/index">Index</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/airportArrivalSearch">SearchForm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/arrivals">Arrivals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/departures">Departures</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h2>Flight Departure List</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>ICAO24</th>
            <th>First Seen(Epoch Time)</th>
            <th>Est. Departure Airport</th>
            <th>Last Seen(Epoch Time)</th>
            <th>Call Sign</th>
            <th>Est. Departure Airport Horiz. Distance</th>
            <th>Est. Departure Airport Vert. Distance</th>
            <th>Departure Airport Candidates Count</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="departure : ${departures}" class="row-with-border">
            <td><a th:href="@{/departures/{id}(id=${departure.id})}" type="text">[[${departure.id}]]</a></td>
            <td th:text="${departure.icao24}"></td>
            <td th:text="${departure.firstSeen}"></td>
            <td th:text="${departure.estDepartureAirport}"></td>
            <td th:text="${departure.lastSeen}"></td>
            <td th:text="${departure.callSign}"></td>
            <td th:text="${departure.estDepartureAirportHorizDistance}"></td>
            <td th:text="${departure.estDepartureAirportVertDistance}"></td>
            <td th:text="${departure.departureAirportCandidatesCount}"></td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/departures/deleteAll}" method="post" id="deleteAllForm">
       <button class="btn btn-danger" type="submit">Delete All</button>
    </form>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
    var deleteAllButton = document.getElementById("deleteAllButton");
    var tableBody = document.querySelector("tbody");

    deleteAllButton.addEventListener("click", function () {
        // Remove all rows from the table's tbody
        while (tableBody.firstChild) {
            tableBody.removeChild(tableBody.firstChild);
        }

        
         fetch('/deleteAllDepartureEntries', {
             method: 'DELETE',
         })
         .then(response => {
             if (response.ok) {
                 console.log("successful deletion")
             } else {
            	 console.log("Deletion failed!")
             }
         })
         .catch(error => {
            console.log("network error")
         });
    });
});
</script>

<!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>