<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flight Departure List</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
     <style>
   .row-with-border {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <label class="navbar-brand" for="flight-tracking">Flight Tracking</label>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="nav-link" href="/index">Index</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
      </ul>
    </div>
  </nav>
<div class="container">
    <h2>Flight Departure List</h2>
    <div class="table-responsive">
        <div class="table">
            <div class="thead">
                <div class="row">
                    <div class="col">ICAO24</div>
                    <div class="col">First Seen</div>
                    <div class="col">Est. Departure Airport</div>
                    <div class="col">Last Seen</div>
                  
                    <div class="col">Call Sign</div>
                    <div class="col">Est. Departure Airport Horiz. Distance</div>
                    <div class="col">Est. Departure Airport Vert. Distance</div>
                    <div class="col">Departure Airport Candidates Count</div>
                </div>
            </div>
            <div class="tbody">
            <div th:each="departure : ${departures}" class="row-with-border">
            	<hr/>
                <div class="row">
                    <div class="col"><a th:href="@{/departures/{id}(id=${departure.id})}" type="text">[[${departure.id}]]</a></div>
                    <div class="col" th:text="${departure.icao24}"></div>
                    <div class="col" th:text="${departure.firstSeen}"></div>
                    <div class="col" th:text="${departure.estDepartureAirport}"></div>
                    <div class="col" th:text="${departure.lastSeen}"></div>
                    <div class="col" th:text="${departure.estArrivalAirport}"></div>
                    <div class="col" th:text="${departure.callSign}"></div>
                    <div class="col" th:text="${departure.estDepartureAirportHorizDistance}"></div>
                    <div class="col" th:text="${departure.estDepartureAirportVertDistance}"></div>
                    <div class="col" th:text="${departure.departureAirportCandidatesCount}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
            
<!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>           