<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
    /* Background image styles */
    body {
    		
			
			font-family: Arial, sans-serif;
				
    }
    .navbar-brand,
    .navbar-nav .nav-link {
      color: white !important; 
    }
    
   
    label {
      color: black; 
    }
    
 
    input {
      color: black;
    }
    
    
    .btn-primary {
      color: white; 
    }
  </style>
</head>
<body>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <label class="navbar-brand" for="flight-tracking">Flight Tracking</label>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/api/v1/users/index">Index</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/v1/users/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/v1/users/register">Register</a>
        </li>
      </ul>
    </div>
  </nav>
  <h1>Registration Form</h1>
  <form action="/api/v1/users/register" method="post">

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" th:field="${user.username}" required>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" th:field="${user.password}" required>
    </div>

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" name="firstName" th:field="${user.firstName}" required>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" name="lastName" th:field="${user.lastName}" required>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="janeDoe@hotmail.com" name="email" th:field="${user.email}" required>
    </div>

    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input type="tel" class="form-control" id="phone" placeholder="(XXX)XXX-XXXX"  name="phone" th:field="${user.phone}" required>
    </div>

    <div class="form-group">
      <label for="registrationDate">Registration Date</label>
      <input type="date" class="form-control" name="registrationDate" th:field="${user.registrationDate}" required>
    </div>
    
          <button type="submit" class="btn btn-primary">Register</button>
          <div style="margin-top: 50px;"></div>
    </form>
</div>

</body>
</html>