!<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>User Information Update Form</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- Custom CSS -->
	<style>
		.container {
			margin-top: 50px;
		}
	</style>
	 <style>
    /* Background image styles */
    body {
    		background-color:white;
			background-size: cover;
			background-repeat: no-repeat;
			font-family: Arial, sans-serif;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <label class="navbar-brand" for="flight-tracking">Flight Tracking</label>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="nav-link" href="/api/v1/users/index">Index</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/v1/users/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/v1/users/register">Register</a>
        </li>
      </ul>
    </div>
  </nav>
	<div class="container">
		<h1>User Information Update Form</h1>
		<form th:action="@{/api/v1/users/users/{userId}(userId=${user.id})}"  method="post">
			<input type="hidden" id="userId" th:field="${user.id}">
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" class="form-control" id="username" th:field="${user.username}" placeholder="Enter username">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" th:field="${user.password}" placeholder="Enter password">
			</div>
			<div class="form-group">
				<label for="firstname">First Name</label>
				<input type="text" class="form-control" id="firstname" th:field="${user.firstName}" placeholder="Enter first name">
			</div>
			<div class="form-group">
				<label for="lastname">Last Name</label>
				<input type="text" class="form-control" id="lastname" th:field="${user.lastName}" placeholder="Enter last name">
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control" id="email" th:field="${user.email}" placeholder="Enter email">
			</div>
			<div class="form-group">
				<label for="phone">Phone</label>
				<input type="tel" class="form-control" id="phone" th:field="${user.phone}" placeholder="Enter phone number">
			</div>
			<div class="form-group">
				<label for="registration-date">Registration Date</label>
				<input type="date" class="form-control" id="registration-date" th:field="${user.registrationDate}">
			</div>
			<div class="form-group">
				<label for="address_line_1">Address Line 1</label>
				<input type="text" class="form-control" id="address_line_1" th:field="${user.address.addressLine1}">
			</div>
			<div class="form-group">
				<label for="address_line_2">Address Line 2</label>
				<input type="text" class="form-control" id="address_line_2" th:field="${user.address.addressLine2}">
			</div>
			<div class="form-group">
				<label for="city">City</label>
				<input type="text" class="form-control" id="city" th:field="${user.address.city}">
			</div>
			<div class="form-group">
				<label for="state">State</label>
				<input type="text" class="form-control" id="state" th:field="${user.address.state}">
			</div>
			<div class="form-group">
				<label for="zip">Zip</label>
				<input type="text" class="form-control" id="zip" th:field="${user.address.zip}">
			</div>
			<div class="form-group">
				<label for="country">Country</label>
				<input type="text" class="form-control" id="country" th:field="${user.address.country}">
			</div>
			<button type="submit" class="btn btn-primary">Update</button>
		</form>
		<form th:action="@{/api/v1/users/users/{userId}/delete(userId=${user.id})}" method="post">
        <input type="submit" value="Delete User Account" class="btn btn-danger">
    </form>
        
	
	</script>
	
	<!-- jQuery and Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
</body>
</html>