<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
     <style>
   .row-with-border {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <label class="navbar-brand" for="flight-tracking">Flight Tracking</label>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="nav-link" href="/api/v1/users/index">Index</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/v1/users/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/v1/users/register">Register</a>
        </li>
      </ul>
    </div>
  </nav>
<div class="container">
    <h2>User List</h2>
    <div class="table-responsive">
        <div class="table">
            <div class="thead">
                <div class="row">
                    <div class="col">ID</div>
                    <div class="col">Username</div>
                    <div class="col">Password</div>
                    <div class="col">First Name</div>
                    <div class="col">Last Name</div>
                    <div class="col">Email</div>
                    <div class="col">Phone</div>
                    <div class="col">Registration Date</div>
                </div>
            </div>
            <div class="tbody">
                <div th:each="user : ${users}" class="row-with-border">
                	<hr/>
                    <div class="row">
                        <div class="col"><a th:href="@{/api/v1/users/users/{id}(id=${user.id})}" type="text">[[${user.id}]]</a></div>
                        <div class="col" th:text="${user.username}"></div>
                        <div class="col" style="visibility:hidden;" th:text="${user.password}"></div>
                        <div class="col" th:text="${user.firstName}"></div>
                        <div class="col" th:text="${user.lastName}"></div>
                        <div class="col" th:text="${user.email}"></div>
                        <div class="col" th:text="${user.phone}"></div>
                        <div class="col" th:text="${user.registrationDate}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>